Django==1.4.2
Pillow==1.7.8
South==0.7.6
argparse==1.2.1
django-allauth==0.8.2
django-appconf==0.5
django-bootstrap-toolkit==2.6.16
django-imagekit==2.0.2
httplib2==0.7.7
oauth2==1.5.211
python-openid==2.2.5
wsgiref==0.1.2
