/*
 * #img_font_for_qrcode{
	background-image: url("../image/pool.jpg");
	background-repeat: no-repeat;
	width: 600px;
	height: 600px;
	padding: 0;
}//*/
/*
#pool_font2, #qr_code{
	position:absolute;top:10px;left:10px;
}//*/
/*
#pool_font{
	position:relative;
	margin-left:10px;
}//*/
#pool_font2{
	//position:relative;float:left;
	position:relative;
	z-index:1;
}
#qr_code{
	position:absolute;
	z-index:10;
}
