{% extends theme %}
{% load thumbnail %}
{% load bootstrap_toolkit %}
{% load i18n %}
{% load photo_tags %}
{% block content %}
{{ element.db_url }}
<div class="cover_box hidden-phone">
{% if cover_photo %}
	{% thumbnail cover_photo.picture "1280x300" crop="center" as im %}
	    <img class="cover_photo" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ photo }}">
	{% endthumbnail %}
	{% if element.owner == user %}
		<a class="btn btn-success element_edit" href="{% url edit_element element.id %}">{% trans "Modifier" %}</a>
	{% endif %}
	<div class="cover_title">
		<h1>{{ element.name }}</h1>
	</div>
{% elif element.db_img %}
	{% thumbnail db_url "1280x300" crop="center" as im %}
	    <img class="cover_photo" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ element.name }}">
	{% endthumbnail %}
	{% if element.owner == user %}
		<a class="btn btn-success element_edit" href="{% url edit_element element.id %}">{% trans "Modifier" %}</a>
	{% endif %}
	<div class="cover_title">
		<h1>{{ element.name }}</h1>
	</div>
{% endif %}
</div>
<div {% if cover_photo or element.db_img %}class="visible-phone"{% endif %}>
	<h1 class="pull-left">{{ element.name }}</h1>
	{% if element.owner == user %}
	<a class="btn btn-success pull-right" style="margin-top:10px" href="{% url edit_element element.id %}">{% trans "Modifier" %}</a>
	{% endif %}
</div>
<div class="clearfix"></div>
<!--<p>{{ element.description }}</p>-->
<div class="row-fluid" style="margin-top: 15px">
	<div class="span6 well">
		<div class="pull-left">
			{% if actioned %}
			<button class="btn btn-large btn-success disabled">{{ element.category.verb_singular }}</button>
			{% else %}
			<a href="{% url action_element element.id %}" class="btn btn-large">{{ element.category.verb_singular }}</a>
			{% endif %}
		</div>
		<div class="pull-left" style="margin-top: 12px;margin-left: 10px;font-size: 16px">
		<span style="font-size:30px;font-weight:bold;">{{ actions }}</span> <span class="element_action">{{ element.category.verb_plural_plural }}.</span>
		</div>
	</div>
	<div class="span6 well">
		<div class="pull-left">
		{% if actioned %}
			{% if recommended %}
				<button class="btn btn-large btn-success disabled">{% trans "Je recommande" %}</button>
			{% else %}
				<a href="{% url recommend_element element.id %}" class="btn btn-large">{% trans "Je recommande" %}</a>
			{% endif %}
			
		{% else %}
			<button class="btn disabled btn-large">{% trans "Je recommande" %}</button>
		{% endif %}
		</div>
		<div class="pull-left" style="margin-top: 12px;margin-left: 10px;font-size: 16px">
		<span style="font-size:30px;font-weight:bold">{{ recommends }}</span> <span class="element_action">{% trans "recommandent" %}.</span>
		</div>
	</div>
</div>


<div class="row-fluid">
<div class="span8">
{% if photos %}
<h3>{% trans "Photos" %}</h3>
<ul id="Gallery" class="gallery">
{% for photo in photos %}
{% photo_swipe photo %}
{% endfor %}
</ul>
{% endif %}
</div>
<div class="span4">
	<div class="thumbnail" style="margin-top: 10px; text-align: center">
		{% if main_photo %}
			{% photo_resize main_photo 360 %}
		{% elif element.db_img %}
			{% thumbnail db_url "1000" as big %}
			    {% thumbnail db_url "360" as small %}
			        <a href="{{ big.url }}" title="{{ element.name }}"><img src="{{ small.url }}" alt="{{ element.name }}"></a>
			    {% endthumbnail %}
			{% endthumbnail %}
		{% endif %}
		<div class="caption">
			{{ element.description }}
		</div>
	</div>
</div>
</div>
{% endblock %}