{% extends "content.html" %}
{% load thumbnail %}
{% load bootstrap_toolkit %}
{% load i18n %}
{% load photo_tags %}
{% block content %}
<div class="cover_box hidden-phone">
{% if cover_photo %}
{% thumbnail cover_photo.picture "1280x300" crop="center" as im %}
    <img class="cover_photo" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ photo }}">
{% endthumbnail %}
{% if element.owner == user %}
	<a class="btn btn-success element_edit" href="{% url edit_element element.id %}">{% trans "Modifier" %}</a>
{% endif %}
<div class="cover_title">
	<h1>{{ element.name }}</h1>
</div>
{% endif %}
</div>
<div {% if cover_photo %}class="visible-phone"{% endif %}>
	<h1 class="pull-left">{{ element.name }}</h1>
	{% if element.owner == user %}
	<a class="btn btn-success pull-right" style="margin-top:10px" href="{% url edit_element element.id %}">{% trans "Modifier" %}</a>
	{% endif %}
</div>
<div class="clearfix"></div>
<!--<p>{{ element.description }}</p>-->
<div class="row-fluid">
<div class="span8">
{% if photos %}
<h3>{% trans "Photos" %}</h3>
<ul id="Gallery" class="gallery">
{% for photo in photos %}
{% photo_swipe photo %}
{% endfor %}
</ul>
{% endif %}
</div>
<div class="span4">
	<div class="thumbnail" style="margin-top: 10px; text-align: center">
		{% if main_photo %}
			{% photo_resize main_photo 360 %}
		{% endif %}
		<div class="caption">
			{{ element.description }}
		</div>
	</div>
</div>
</div>
{% endblock %}