{% extends "bootstrap_base.html" %}
{% load i18n %}
{% load account %}
{% load user_avatar %}
{% load staticfiles %}
{% load socialaccount %}
{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="{% url home %}">.pyVerts</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li{% if home %} class="active"{% endif %}><a href="{% url home %}">Home</a></li>
          <!--<li><a href="#about">About</a></li>-->
          <!--<li><a href="#contact">Contact</a></li>-->
        </ul>
        <form class="navbar-search pull-left" style="margin-left: 100px" method="get" action="{% url search %}">
          <input type="text" class="search-query" placeholder="{% trans "Rechercher" %}" name="q" id="mainsearch" autocomplete="off">
        </form>
        <ul class="nav pull-right">
          {% if not user.is_authenticated %}
          <li><a href="{% url account_signup %}">Sign Up</a></li>
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a class="dropdown-toggle" href="#" data-toggle="dropdown">{% trans "Connexion" %} <strong class="caret"></strong></a>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
            <form action="{% url account_login %}" method="post" accept-charset="UTF-8">
              {% csrf_token %}
			  <input id="user_username" style="float: left;margin: 0 5px 15px 5px" type="text" name="login" size="30" placeholder="{% trans "Nom d&#39;utilisateur" %}" />
			  <input id="user_password" style="float: left;margin: 0 5px 15px 5px" type="password" name="password" size="30" placeholder="{% trans "Mot de passe" %}" />
			  <label class="checkbox" style="float: left;margin-left: 5px">
				<input type="checkbox" name="remember"> {% trans "Se souvenir" %}
			  </label>
			  <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="{% trans "Connexion" %}" />
        <hr />
        <a href="{% provider_login_url "facebook" %}" title="{% trans "Connexion via Facebook" %}"><img src="{% static "img/facebook_icon_32.png" %}" alt="{% trans "Connexion via Facebook" %}" /></a>
			</form>
            </div>
          </li>
          {% else %}
          <li class="dropdown">
          	<a class="dropdown-toggle" href="#" data-toggle="dropdown">{% avatar user 20 %}{% user_display user %}<strong class="caret"></strong></a>
          	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          	  <li><a href="{% url view_profile user.id %}">{% trans "Profil" %}</a></li>
              <li><a href="{% url edit_profile %}">{% trans "Éditer mon profil" %}</a></li>
          	  <li class="divider"></li>
          	  <li><a href="{% url account_logout %}">{% trans "Déconnexion" %}</a></li>
          	</ul>
          </li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
{% block content %}
{% endblock %}
</div>
{% endblock %}